.about-us-video {
    width: 100%;
    height: 90vh;
}

.about-us-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.696);
}

.ab-head-p {
    width: 100%;
}

.about-he {
    position: relative;
    color: var(--gold);
    width: fit-content;
}

.about-he i {
    position: absolute;
    top: 50%;
    right: -45%;
    font-size: 1.2rem;
}

.review {
    background-color: rgba(229, 225, 225, 0.248);
}

.star i {
    color: var(--gold);
}

.about-he3 h4, .about-he4 h4 {
    color: var(--gold);
}

.hr {
    background-color: var(--gold);
    border: 3px solid var(--gold);
    width: 50%;
    margin: 0 auto;
    display: none;
}

.hr-slide {
    position: relative;
}

.hr-slide i {
    position: absolute;
    bottom: -350%;
    left: 25%;
    color: var(--gold);
    animation: home-slide 6s 1s infinite alternate linear;
    filter: drop-shadow(0 10px 5px black);
    display: none;
}

@keyframes home-slide {
    from { left: 25%; }
    to { left: 73%; }
}

@media (min-width: 992px) {
    .ab-head-p {
        width: 50%;
        margin: 0 auto;
    }

    .hr, .hr-slide i {
        display: block;
    }
}